* {
  font-family: Liga SFMono Nerd Font;
  font-weight: bold;
  font-size: 12px;
  min-height: 0;
}

window#waybar {
  /* border: solid 2px rgba(171, 178, 191, 0.6); */
  border: none;
  background-color: rgba(35, 38, 52, 0);
  color: #c6d0f5;
  transition-property: background-color;
  transition-duration: 0.5s;
}

.modules-left,
.modules-center,
.modules-right {
  background: transparent;
  margin: 0px;
}

#workspaces {
  margin: 5px;
  padding: 4px 1px;
  border-radius: 10px;
  background-color: rgba(65, 69, 89, 1);
}

#workspaces button {
  padding: 0 5px;
  margin: 0 3px;
  border-radius: 12px;
  background-color: #51576d;
  transition: all 0.3s ease-in-out;
  color: #838ba7;
  min-width: 15px;
  opacity: 1;
}

#workspaces button.active {
  background-color: #8caaee;
  color: #c6d0f5;
  border-radius: 10px;
  min-width: 30px;
  background-size: 400% 400%;
  opacity: 0.8;
  transition: all 0.3s ease-in-out;
}

#custom-naruto,
#custom-power-off,
#clock,
#battery,
#network,
#keyboard-state,
#wireplumber,
#custom-media,
#custom-app-launcher,
#bluetooth,
#tray {
  background-color: rgba(65, 69, 89, 1);
  border-radius: 8px;
  margin: 5px;
  padding: 5px 15px;
}

#tray {
  background: transparent;
}

#keyboard-state {
  background: transparent;
  min-width: 0;
  color: #e78284;
  margin: 0;
  padding: 5px;
}

#keyboard-state label {
  min-width: 0;
  margin: 0 5px;
  background: transparent;
}

#keyboard-state label.locked {
  min-width: 0;
  background: transparent;
}

#custom-power-off {
  background: #e78284;
  color: #303446;
  padding-left: 11px;
}

#custom-app-launcher {
  background: #8caaee;
  color: #303446;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left>widget:first-child>#workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right>widget:last-child>#workspaces {
  margin-right: 0;
}

/* #clock { */
/*   color: #ff9e64; */
/* } */

/* #battery { */
/*   color: #bb9af7; */
/* } */

#battery.charging,
#battery.plugged {
  color: #b4f9f8;
}

#battery.warning:not(.charging) {
  color: #e78284;
}

@keyframes blink {
  to {
    background-color: #e78284;
    color: #1a1b26;
  }
}

#battery.critical:not(.charging) {
  color: #e78284;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* #network { */
/*   color: #2ac3de; */
/* } */

#network.disconnected {
  color: #565f89;
}

/* #wireplumber { */
/*   color: #f7768e; */
/* } */

#wireplumber.muted {
  color: #565f89;
}
